---
title: Home
layout: page
---
<div class="page-header">
<h1 class="page-title">
Home
</h1>
</div>
<div class="row row-cards">
<div class="col-6 col-sm-4 col-lg-3">
  {% capture latestOccupancy %}{% assign y = site.data.MEDOCCUPANCY | size | minus: 1 %}{% assign x = site.data.MEDOCCUPANCY[0] | size | minus: 1 %}{{ site.data.MEDOCCUPANCY[y][x] }}{% endcapture %} 
  {% capture secondlatestOccupancy %}{% assign y = site.data.MEDOCCUPANCY | size | minus: 2 %}{% assign x = site.data.MEDOCCUPANCY[0] | size | minus: 1 %}{{ site.data.MEDOCCUPANCY[y][x] }}{% endcapture %}
  {% assign percent = latestOccupancy | minus: secondlatestOccupancy %}
  {% include components/scoreboard.html title="平均內科床位佔用率" value=latestOccupancy percentageChange=percent colorinversion=true%}
</div>
<div class="col-6 col-sm-4 col-lg-3">
  {% capture latestOccupancy %}{% assign y = site.data.AEDADMISSION | size | minus: 1 %}{% assign x = site.data.AEDADMISSION[0] | size | minus: 1 %}{{ site.data.AEDADMISSION[y][x]}}{% endcapture %} 
  {% capture secondlatestOccupancy %}{% assign y = site.data.AEDADMISSION | size | minus: 2 %}{% assign x = site.data.AEDADMISSION[0] | size | minus: 1 %}{{ site.data.AEDADMISSION[y][x]}}{% endcapture %}
  {% assign percent = latestOccupancy | minus: secondlatestOccupancy %}
  {% include components/scoreboard.html title="經急症室入院人次" value=latestOccupancy percentageChange=percent colorinversion=true%}
</div>
<div class="col-6 col-sm-4 col-lg-3">
  {% capture latestOccupancy %}{% assign y = site.data.AEDATTENDANCE | size | minus: 1 %}{% assign x = site.data.AEDATTENDANCE[0] | size | minus: 1 %}{{ site.data.AEDATTENDANCE[y][x]}}{% endcapture %} 
  {% capture secondlatestOccupancy %}{% assign y = site.data.AEDATTENDANCE | size | minus: 2 %}{% assign x = site.data.AEDATTENDANCE[0] | size | minus: 1 %}{{ site.data.AEDATTENDANCE[y][x]}}{% endcapture %}
  {% assign percent = latestOccupancy | minus: secondlatestOccupancy %}
  {% include components/scoreboard.html title="經急症室求診人次" value=latestOccupancy percentageChange=percent colorinversion=true%}
</div>
</div>
<div class="row">
  <div class="col-sm-6 col-lg-3">
    {% assign values = "" %}
    {% for row in site.data.FLUEXPRESS %}
      {% assign values = values | append: " " | append: row[10] %}
    {% endfor %}
    {% assign values = values | split: " " | slice: -6, 6 %}
    {% include components/line_chart_card.html title="流感陽性樣本" values = values id="flupositive" %}
  </div>  
  <div class="col-sm-6 col-lg-3">
    {% assign values = "" %}
    {% for row in site.data.FLUEXPRESS %}
      {% assign values = values | append: " " | append: row[16] %}
    {% endfor %}
    {% assign values = values | split: " " | slice: -6, 6 %}
    {% include components/line_chart_card.html title="疑似流感爆發" values = values id="fluoutbreak" %}
  </div>
  <div class="col-sm-6 col-lg-3">
    {% assign values = "" %}
    {% for row in site.data.FLUEXPRESS %}
      {% if row[3].size > 0 %}
        {% assign value = row[28] | plus: row[29] | plus: row[30] | plus: row[31] %}
        {% assign values = values | append: " " | append: value %}
      {% endif %}
    {% endfor %}
    {% assign values = values | split: " " | slice: -6, 6 %}
    {% include components/line_chart_card.html title="流感嚴重個案" values = values id="flusevere" %}
  </div>
</div>
<div class="row row-cards">

  <div class="col-sm-6">
    {% assign labels = "流行性感冒病類,手足口病,急性腸道傳染病,急性結膜炎" | split: "," %}
    {% assign values = site.data.AEDSURVEILLANCE | last | slice: 4, 4 %}	  
    {% include components/piecard.html title="急診室求診者病狀" labels=labels values=values %}
  </div>
	
</div>
