
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h5>相關連結</h5>
        <div class="row">
          <div class="col-6 col-md-3">
            <ul class="list-unstyled mb-0">
              <li><a href="#">First link</a></li>
              <li><a href="#">Second link</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3">
            <a href="http://www.ha.org.hk/visitor/ha_index.asp?Lang=CHIB5"><strong>醫院管理局</strong></a>
            <ul class="list-unstyled mb-0">
              <li><a href="#">Third link</a></li>
              <li><a href="#">Fourth link</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3">
            <a href="https://www.dh.gov.hk/cindex.html"><strong>衛生署</strong></a>
            <ul class="list-unstyled mb-0">
              <li><a href="https://www.chp.gov.hk/tc/">衛生防護中心</a></li>
              <li><a href="https://www.pco.gov.hk/tc_chi/home/home.html">基層醫療統籌處</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3">
            <a href="https://www.legco.gov.hk/cindex.html"><strong>立法會</strong></a>
            <ul class="list-unstyled mb-0">
              <li><a href="https://www.legco.gov.hk/general/chinese/panels/yr16-20/hs.htm">衞生事務委員會</a></li>
              <li><a href="https://www.legco.gov.hk/general/chinese/panels/yr16-20/fseh.htm">食物安全及環境衞生事務委員會</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0">
        {{ site.description }}
      </div>
    </div>
  </div>
</div>
