
<div class="row align-items-center">
  <div class="col-lg-3 ml-auto">
    <form class="input-icon my-3 my-lg-0">
      <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
      <div class="input-icon-addon">
        <i class="fe fe-search"></i>
      </div>
    </form>
  </div>
  <div class="col-lg order-lg-first">
    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
      {% for navitem in site.data.toc %}
      <li class="nav-item{% if navitem.subitems %} dropdown{% endif %}">
        <!-- {{ page.url}} -->
        <!-- {{navitem.url}} -->
        {% assign subitemlinks = navitem.subitems | map: 'url' %}
        <a href="{% if navitem.subitems %}javascript:void(0)" data-toggle="dropdown{% else %}{{ navitem.url | relative_url }}{% endif %}" class="nav-link {% if page.url == navitem.url or subitemlinks contains page.url %} active{% endif %}"><i class="{{ navitem.icon }}"></i> {{ navitem.title }}</a>
        {% if navitem.subitems %}
          <div class="dropdown-menu dropdown-menu-arrow">
          {% for entry in navitem.subitems %}
            <a href="{{ entry.url | relative_url }}" class="dropdown-item {% if page.url == entry.url %}active{% endif %}">{{ entry.title }}</a>
          {% endfor %}
          </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
