<script>
function showOfflineToast() {
}

// (1)
if (navigator.serviceWorker) {
  navigator.serviceWorker.register("{{ "/sw.js" | relative_url }}",
              {
                scope: '{{ "/" | relative_url }}'
              }
                                  ).then(function(reg){
    if (!reg.installing) return;
      console.log("[*] ServiceWorker is installing...");

      var worker = reg.installing;

      worker.addEventListener('statechange', function() {
          if (worker.state == 'redundant') {
              console.log('[*] Install failed');
          }
          if (worker.state == 'installed') {
              console.log('[*] Install successful!');
          }
          if (worker.state == 'activated' && !navigator.serviceWorker.controller) {
            showOfflineToast();
          }
      });
  });
}
</script>
