{% assign title = include.title %}
{% assign value = include.value %}
{% assign percentageChange = include.percentageChange | plus: 0 %}
<div class="card">
  <div class="card-body p-3 text-center">
    <div class="text-right {% if percentageChange >= 0 %}text-green{% else %}text-red{% endif %}">
      {{ percentageChange }}%
      <i class="fe fe-chevron-{% if percentageChange >= 0 %}up{% else %}down{% endif %}"></i>
    </div>
    <div class="h1 m-0">{{ value }}</div>
    <div class="text-muted mb-4">{{ title }}</div>
  </div>
</div>
