---
layout: default
---
<div class="page-main">
  <div class="header py-4">
    <div class="container">
      <div class="d-flex">
        <a class="header-brand" href="{{ "/index.html" | relative_url }}">
          <img src="{{ "/demo/brand/tabler.svg" | relative_url }}" class="header-brand-img" alt="tabler logo">
        </a>
        <div class="d-flex order-lg-2 ml-auto">
          <div class="nav-item d-none d-md-flex">
            <a href="https://github.com/tabler/tabler" class="btn btn-sm btn-outline-primary" target="_blank">Source code</a>
          </div>
          {% include notif_centre.html %}
          {% include account_centre.html %}
        </div>
        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
          <span class="header-toggler-icon"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
      {% include nav_bar.html %}
    </div>
  </div>
  <div class="my-3 my-md-5">
    <div class="container">
      {{ content }}
    </div>
  </div>
</div>
{% include link_footer.html %}
{% include credit_footer.html %}
